.jumbotron {
  margin: 5px;
  padding: 10px;
  border-color: black;
  background-color: #1c6fb2;
  text-align: center;
}

#languages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#quiz {
  display: none;
  text-align: center;
  padding: 20px;
}

#results {
  display: none;
  margin-top: 20px;
}

body {
  background-color: #e09545
}
